{{ template "layout" . }}

{{ define "main" }}

<div>
    <br>
    <h1>Tambah Task</h1>
    <br>
    <form action="/tasks/add" method="post">
        <div class="form-group">
            <label for="taskDetail">DetailTask :</label>
            <textarea class="form-control" id="taskDetail" name="taskDetail" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="sendToName">Send To :</label>
            <select class="form-control" name="sendToName" id="sendToName">
            </select>
        </div>
        <div class="form-group">
            <label for="taskDeadLine">Task Deadline :</label>
            <input type="date" class="form-control" name="taskDeadLine" id="taskDeadLine" required>
        </div>

        <input type="submit" class="btn btn-primary" value="Create Task">
        <a href="/tasks" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{{ end }}