{{ template "layout" .}}

{{ define "main" }}

<div>
    <br>
    <h1>Update User</h1>
    <br>
    <form action="/users/edit" method="post">
        <input type="text" name="id" id="id" value="{{ .Id }}" hidden>
        <div class="form-group">
            <label for="name">Nama : </label>
            <input type="text" class="form-control" name="name" id="name" value="{{ .Name }}" required>
        </div>
        <div class="form-group">
            <label for="roleId">Role Id : </label>
            <input type="number" class="form-control" name="roleId" id="roleId"  value="{{ .RoleId }}" min="1" required>
        </div>

        <input type="submit" class="btn btn-primary" value="Update User">
        <a href="/users" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{{ end }}